<!DOCTYPE html>
<html>
<head>
    <title>Todo App</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets//style.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
<div class="container">
    <p>
        <label for="new-task-name">Add Item</label><input id="new-task-name" type="text"></br>
        <label for="new-task-dueDate">Add Due Date</label><input id="new-task-dueDate" type="date" value="2020-03-25">
        <button>Add</button>
    </p>

    <h3>Todo</h3>
    <ul id="incomplete-tasks">
        {{#each undoneTasks}}
            <li><input type="checkbox" data-id="{{_id}}"><label>{{name}}</label><small></br></br>{{formattedDueDate}}</small><input type="text"><button class="edit" data-id="{{id}}">Edit</button><button class="delete" data-id="{{_id}}">Delete</button></li>
        {{/each}}
    </ul>

    <h3>Completed</h3>
    <ul id="completed-tasks">
        {{#each doneTasks}}
            <li><input type="checkbox" data-id="{{_id}}" checked><label>{{name}}</label><small></br></br>{{formattedDueDate}}</small><input type="text"><button class="edit" data-id="{{id}}">Edit</button><button class="delete" data-id="{{_id}}">Delete</button></li>
        {{/each}}    </ul>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/javascripts/index.js"></script>
</body>
</html>